<header>
  <!-- change navbar-brand redirect depending on login status -->
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <% if (user) { %>
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <% } else { %>
      <a class="navbar-brand" href="/login">TinyApp</a>
      <% } %> 
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- only show if not logged in -->
        <% if(!user) { %>
        <a class="nav-item nav-link" href="/login">Login</a>
        <a class="nav-item nav-link" href="/register">Register</a>
        <% } %>
        <!-- only show if signed in -->
        <% if (user) { %>
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <% } %>
      </div>
    </div>
    <!-- show login account email and logout button if signed in -->
    <% if (user) { %>
    <h6>Signed in as <%= user.email %></h6>
    <form class="form-inline" action="/logout" method="POST">
      <div class="form-group mb-2">
        <button type="submit" class="btn btn-primary">log out</button>
      </div>
      <% } %>
    </form>
  </nav>
</header>